<div class="d-flex justify-content-evenly align-items-center my-5 mx-auto flex-wrap" id="services">
    <h1 class="title-services">Nos services pour votre confort:</h1>
    <div class="card-services d-flex flex-column col-md-3 col-sm-12 align-items-center justify-content-between">
        <img class="img-services " src='{{ asset('build/images/band.jpg') }}' alt="client"/>
        <h4 class="titre-services">Passagers</h4>  
        <p class="txt-services">Laissez-vous conduire en toute sérénité, vers un monde plus propre.</p>
    </div>
        <div class="card-services d-flex flex-column col-md-3 col-sm-12 align-items-center justify-content-between">
        <img class="img-services " src='{{ asset('build/images/young.jpg') }}' alt="chauffeurs"/>
        <h4 class="titre-services">Chauffeurs</h4>  
        <p class="txt-services">Votre volant, leur avenir; tout en garantissant la sécurité de chacun.</p>
    </div>
    <div class="card-services d-flex flex-column col-md-3 col-sm-12 align-items-center justify-content-between">
        <img class="img-services " src='{{ asset('build/images/mount.jpg') }}' alt="route"/>
        <h4 class="titre-services">EcoRide</h4>
        <p class="txt-services">Une plateforme éthique, un covoiturage fiable pour vos déplacements quotidiens.</p>
    </div>
</div>